<html>
<head>
<title> Areca Palm</title>
</head>
<body>
<center><h1> Areca Palm </h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>Areca is a genus of 51 species of palms in the family Arecaceae, found in humid tropical forests from the islands of the Philippines, Malaysia and India, across Southeast Asia to Melanesia.The generic name Areca is derived from a name used locally on the Malabar Coast of India.Areca palm is a A good luck plant as per Vastu Shastra. It's also a Air Oxygen Purifier. </h5>
<h4> Users of Areca Palm</h4>
<h5>The areca palm is also used as an interior landscaping species. It is often used in large indoor areas such as malls and hotels. It will not fruit or reach full size if grown in this way. Indoors, it is a slow growing, low water, high light plant that is sensitive to spider mites and occasionally mealybugs.</h5>
</body>
</html>