{% load static %}
<html>
<head>
<title> Dracaena </title>
</head>
<body bgcolor="DarkSeaGreen">
	<table>
	<tr>
		<td>
<center><h1> Dracaena Warneckii </h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>The dracaena plant is a popular ornamental houseplant, grown both indoors and outdoors in subtropical climates. It reaches a height of about three feet indoors, and has a bushy tree type of look. Its glossy leaves can grow up to one foot long and a couple of inches wide </h5>
<h4> Users of Dracaena </h4>
<h5>Best Air Purifying Houseplant.It Increases Concentration and Sharpens Focus.It Increases Humidity.Great Ornamental Value.Low-Maintenance. 
Dracaena Absorbs Lead </h5>
</td>
	<td><img src="{% static 'img/portfolio/dracaenawarneckiiplant-1.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
	</tr>
</table>
</body>
</html>