{% load static %}
<html>
<head>
<title> Ipomoea </title>
</head>
<body bgcolor="DarkSeaGreen">
		<table>
	<tr>
		<td>
<center><h1> Ipomoea</h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>Ipomoea, genus of about 500 mostly warm-climate trees, shrubs, and twining and trailing herbaceous plants of the family Convolvulaceae. Several species are known as morning glories and are cultivated as ornamental plants for their attractive flowers. The sweet potato (Ipomoea batatas) is an important food crop.</h5>
<h4> Users of Ipomoea </h4>
<h5> A number of pharmacological properties such as diuretic, anthelmintic, blood purifier, deobstruent, laxative, carminative and anti-inflammatory actions have been ascribed to this plant, besides its use to treat abdominal diseases, fevers, headache and bronchitis</h5>
</td>
	<td><img src="{% static 'img/portfolio/ipomoea-1.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
	</tr>
</table>
</body>
</html>