{% load static %}
<html>
<head>
<title> Lavender</title>
</head>
<body bgcolor="DarkSeaGreen">
	<table>
	<tr>
		<td>
<center><h1>Lavender</h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>Lavender is an herb. The flower and the oil of lavender are used to make medicine.Lavender is commonly used for anxiety, stress, and insomnia. It is also used for depression, dementia, pain after surgery, and many other conditions, but there is no good scientific evidence to support many of these uses.In foods and beverages, lavender is used as a flavor component.In manufacturing, lavender is used in pharmaceutical products and as a fragrance ingredient in soaps, cosmetics, perfumes, potpourri, and decorations.Lavender (scientific name Lavandula angustifolia) is commonly contaminated with related species, including Lavandula hybrida, which is a cross between Lavandula angustifolia and Lavandula latifolia, from which lavandin oil is obtained.</h5>
<h4> Users of Lavender</h4>
<h5>The flower and the oil of lavender are used to make medicine. Lavender is commonly used for anxiety, stress, and insomnia. It is also used for depression, dementia, pain after surgery, and many other conditions, but there is no good scientific evidence to support many of these uses</h5>
</td>
	<td><img src="{% static 'img/portfolio/lavender.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
	</tr>
</table>
</body>
</html>