{% load static %}
<html>
<head>
<title> Lemon Croton </title>
</head>
<body bgcolor="DarkSeaGreen">
	<table>
	<tr>
		<td>
<center><h1> Lemon Croton(Variegated Laurel)</h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>Growing plants indoors can greatly reduce the level of toxins in our space. More importantly, NASA deemed Crotons are one of the top 50 best air-cleaning houseplants. Indoor plants clean the air in three ways: They absorb pollutants into their leaves and the toxins are then absorbed into the plant's roots</h5>
<h4> Users of Lemon Croton</h4>
<h5>Croton is a plant. The oil from the seeds is used to make medicine. Despite serious safety concerns, people take croton seeds for emptying and cleansing the stomach and intestines. They also take croton seeds to treat gallbladder problems, colic, blocked intestines, and malaria</h5>
</td>
	<td><img src="{% static 'img/portfolio/lemon_croton.jpeg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
	</tr>
</table>
</body>
</html>