{% load static %}
<html>
<head>
<title> Marigold Flower</title>
</head>
<body bgcolor="DarkSeaGreen">
	<table>
		<td>
<center><h1> Marigold Flower </h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>The two most popular types of marigolds are African (Tagetes erecta) and French (Tagetes patula) marigolds. These annual, native-Mexican herbs bloom from early summer until the first hard frost, so the bright colors last the entire growing season. In mild climates where night temperatures do not fall below freezing for extended periods of time, marigolds bloom year-round. Bacterial wilt is one of the few problems that affects marigolds in the garden.</h5>
<h4> Users of Marigold</h4>
<h5>Marigold was used traditionally for supporting healthy digestion and gastrointestinal function, and for supporting immune function. The dried, ground flowers are used as chicken feed as a source of carotenoids to enhance the color and nutrition of egg yolks, and as a yellow food dye in Europe.</h5>
</td>
<td><img src="{% static 'img/portfolio/marigold.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
</table>
</body>
</html>