{% load static %}
<html>
<head>
<title> Peace Lily</title>
</head>
<body bgcolor="DarkSeaGreen">
<center><h1> Peace Lily </h1></center>
<table>
	<tr>
		<td>
		<h3>Plant Type : Indoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>The peace lily plant is well known for its air-purifying abilities as a houseplant; it's great at breaking down and neutralizing toxic <br> gases like carbon monoxide and formaldehyde.It helps filter the indoor air, increase the levels of humidity, helping you breathe better.<br> Plus, it also aids in good sleep as it absorbs airborne mold spores that are common allergens. Additionally, the beauty of these<br> plants is known to bring calmness by alleviating feelings of stress in the mind and body.</h5>

<h4> Users of Peace Lily</h4>
<h5>    It purifies the air.<br>It's a low maintenance house plant.<br>Absorbs acetone vapors.<br>Promotes restful sleep.<br>Perfect for home décor.<br>Prevents formation of mildew.<br>Removes mold spores from the air.</h5>
	</td>
	<td><img src="{% static 'img/portfolio/peacelilyplant-1.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
	</tr>
</table>
</body>
</html>