{% load static %}
<html>
<head>
<title> Pothos Marble Queen</title>
</head>
<body bgcolor="DarkSeaGreen">
	<table>
		<td>
<center><h1> Pothos Marble Queen</h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>Native to French Polynesia, the Marble Queen Pothos is a species of flowering plant in the arum family Araceae. Characterised by the cream, marble-patterned variegation on her leaves, the Marble Queen Pothos is a delightful indoor plant with air-purifying powers.</h5>
<h4> Users of Pothos Marble Queen</h4>
<h5>People grow Marble Pothos for their air purifying properties. These plants help in removing common household toxins from the air, making it a healthy and beautiful addition for your space</h5>
</td>
<td><img src="{% static 'img/portfolio/pothosmarblequeenplant-1.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
</table>
</body>
</html>