{% load static %}
<html>
<head>
<title> Rose</title>
</head>
<body bgcolor="DarkSeaGreen">
		<table>
		<td>
<center><h1> Rose </h1></center>
<h3>Plant Type : Indoor and Outdoor Plant</h3>
<h3>Water: Indoor - Weekly a day <br> Outdoor - 3 days a week</h3>
<h3>Fertilizer : Once in 3 month</h3>
<h4>Description of the plant : </h4>
<h5>A rose is a woody perennial flowering plant of the genus Rosa, in the family Rosaceae, or the flower it bears. There are over three hundred species and tens of thousands of cultivars. They form a group of plants that can be erect shrubs, climbing, or trailing, with stems that are often armed with sharp prickles</h5>
<h4> Users of Rose</h4>
<h5>Roses are best known as ornamental plants grown for their flowers in the garden and sometimes indoors. They have been also used for commercial perfumery and commercial cut flower crops. Some are used as landscape plants, for hedging and for other utilitarian purposes such as game cover and slope stabilization</h5>
</td>
<td><img src="{% static 'img/portfolio/rose.jpg' %}"alt="Peace Lily Plant" weight="300" height="450"></img></td>
</table>
</body>
</html>